
.icon-arrow:before { content: '\e800'; } /* '' */
.icon-dropdown:before { content: '\e801'; } /* '' */
.icon-e-mail:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-telegram:before { content: '\e805'; } /* '' */
.icon-time:before { content: '\e806'; } /* '' */
.icon-vk:before { content: '\e807'; } /* '' */
.icon-whatsapp:before { content: '\e808'; } /* '' */
